{
  "globals": {
    "Promise": true
  },
  "env": {
    "node": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "globalReturn": false
  },
  "rules": {
    "new-cap": 0,
    "one-var": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "quotes": [0, "single"],
    "comma-dangle": 0
  }
}
